/* BODY */
body{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;	
    color: #ffffff;
    background: rgb(59,66,74); 
    /*  background:rgb(59,66,74)  url(img/back.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; */
    padding: 0px;   
    margin: 0px;  
}

.wrap {
    padding-top: 60px; /* 60px WAS 20px */
}

@font-face {
    font-family: Museo-700;
    src: url(23236C_0_0.ttf);
    font-weight:normal;
}

/* TOP */
#top-info{
    width:100%;
    height:51px;
    text-align: center;
    background-color:none; 
    background-position:center;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
} 
#top-info{
    background-image: url('../img/top@2x.png');
    background-repeat:no-repeat;

} 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #top-info {background-image:url(../img/top@2x.png);}
}
#top-info{background-size:315px 51px;}        

/* TOP TEXT */
.top-text {
    padding-top: 10px;
    color:  white;
    font-size: 21px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px -1px 0px black; 
} 
.top-sub {
    margin-top: -5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 2px black; 
}           

/* LINK BLOK */
a.link-block{
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}

/* WIDGET LIST */
ul#widgets, ul#widgets li, ul#widgets li a, a.details {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#widgets{
    display: block;
    position:relative;
    text-align: center;
}
ul#widgets li {
    display: inline-block;
    position: relative;
    width: 218px;
    padding-top: 0px;
    font-weight: bold;
    letter-spacing:0.5px;
    padding-left:14px;
    padding-right:14px;
    padding-bottom:30px; /* 25px WAS 30px */
    color:rgb(155,157,162); 
    text-shadow: 0px 2px 4px #1b1f2b;
    filter: dropshadow(color=#1b1f2b, offx=0, offy=2);
}
ul#widgets li label {
    display: block;
    text-align: center;
    max-width: 218px;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
    line-height: 16px;
    color:rgb(155,157,162); 
    text-shadow: 0px 2px 4px #1b1f2b;
    filter: dropshadow(color=#1b1f2b, offx=0, offy=2);
    padding-top:10px;
}

/* LINK OPMAAK */
ul#widgets li label a {        
    color:rgb(155,157,162); 
    text-decoration:none; 
}
ul#widgets li label a:focus {
    color:rgb(155,157,162);
    outline: 0;
}
ul#widgets li label a:hover {
    color:rgb(155,157,162);
}
ul#widgets li label a:active {
    color:rgb(155,157,162);
}

/* LINK OPMAAK */
a {        
    color: #ffffff; 
    text-decoration:none; 
}
a:focus {
    color: #ffffff;
    outline: 0;
}
a:hover {
    color: #ffffff;
}
a:active {
    color: #ffffff;
}

/* WIDGET BORDER & SCHADUW */
.box {
    background: center none;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 6px 5px 1px rgb(31,35,39), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 6px 5px 1px rgb(31,35,39), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.3); 
    height: 122px;
    width: 218px;
    -moz-border-radius: 11px;
    border-radius: 11px; 
    margin: 0px;
}
.box-full {
    background: center white;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 6px 5px 1px rgb(31,35,39), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 6px 5px 1px rgb(31,35,39), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.3); 
    height: 544px;
    width: 704px;
    -moz-border-radius: 11px;
    border-radius: 11px; 
    margin: 0px;
}        

/*------------------------------------------
                WIDGETS TEXT
  ------------------------------------------*/

/* DOWNLOADS iOS WIDGET TEXT */



.downloads-count-1 {
    top:13px; 
    left:46px;
    right:80px;
    position:absolute;
    color:  #5E6873;
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 

.downloads-count-2 {
    top:50px; 
    left:46px;
    right:80px;
    position:absolute;
    color:  #5E6873;
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 

.downloads-count-3 {
    top:87px; 
    left:46px;
    right:80px;
    position:absolute;
    color:  #5E6873;
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 

/* DOWNLOADS WIDGET TEXT */
.counter {
    top:25px; 
    left:0px;
    right:0px;
    position:absolute;
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 0px 6px white; 
} 
.counter-sub {
    padding-top: 0px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 0px 6px white; 
} 

/* TEMPERATUUR WIDGET TEXT */
.temp-text {
    top:10px; 
    left:10px;
    right:0px;
    position:absolute;
    color:  rgb(216,227,248);
    font-size: 65px;
    font-weight:normal;
    text-align:center;
    text-shadow: 0px -1px 0px white, 0px 2px 2px darkblue; 
} 
.temp-sub {
    top:83px; 
    left:0px;
    right:0px;     
    position:absolute;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 2px darkblue; 
} 
.temp-image {
    padding-top: 10px;
    color:  rgb(216,227,248);
    font-size: 65px;
    font-weight:normal;
    text-align:center;
    text-shadow: 0px -1px 0px white, 0px 2px 2px darkblue; 
} 
.temp-image-sub {
    margin-top: -6px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 2px darkblue; 
} 
.temp-side-image {
    width:50px;
    height:34px;
    margin-top: -68px;
    padding-left: 12px;
    float: left;
} 
.temp-sub-hoog {
    top:43px; 
    left:29px;
    right:184px;     
    position:absolute;
    color: rgb(45,97,205);
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
}  
.temp-sub-laag {
    top:43px; 
    left:184px;
    right:29px;     
    position:absolute;
    color: rgb(45,97,205);
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 

/* STOCKS WIDGET TEXT */
.stocks-text {
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 95px;
    color: rgb(45,97,205);
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 
.stocks-sub {
    margin-top: -35px;
    margin-left: 130px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:right;
    text-shadow: 0px 1px 2px darkblue; 
} 

/* KLOK WIDGET TEXT */
.klok-text {
    top:10px; 
    left:0px;
    right:0px;
    position:absolute;
    color:  white;
    font-size: 65px;
    font-weight:normal;
    text-align:center;
    text-shadow: 0px 2px 2px black; 
} 
.klok-sub {
    top:85px; 
    left:0px;
    right:0px;     
    position:absolute;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 2px black; 
} 

/* RADIO WIDGET TEXT */
.radio-text {
    top:23px; 
    left:90px;
    right:16px;
    position:absolute;
    font-family: 'Oleo Script', cursive;
    font-color:  grey;
    font-size: 30px;
    font-weight:normal;
    text-align:center;
    text-shadow: 0px 2px 2px black; 
} 
.radio-sub {
    top:88px; 
    left:15px;
    right:14px;
    position:absolute;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 2px black; 
} 
.radio-text a {        
    color: white; 
    text-decoration:none; 
}

/* METER WIDGET TEXT */
.meter-sub {
    margin-top: -78px;
    margin-left: 0px;
    margin-right: 0px;
    color: grey;
    font-size: 13px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px -1px 0px black; 
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
} 

/* BBQ WIDGET TEXT */
.bbq-text {
    padding-top: 41px;
    padding-left: 41px;
    padding-right: 66px;
    font-family: 'Questrial', sans-serif;
    text-transform:uppercase;
    color: #ffffff;
    font-size: 41px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 0px 6px white; 
} 
.bbq-sub {
    margin-top: -5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 2px black; 
} 
.bbq-text-nieuw {
    top:45px; 
    left:95px;
    right:34px;
    position:absolute;
    color:  white;
    font-size: 25px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 3px black; 
    text-transform:uppercase;
} 


/* TWITTER WIDGET TEXT */
.twitter-followers {
    top:26px; 
    left:15px;
    right:115px;
    color:  rgb(62,155,185);
    font-size: 30px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white;
    position:absolute; 
} 
.twitter-following {
    top:26px; 
    left:115px;
    right:15px;
    color:  rgb(62,155,185);
    font-size: 30px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white;
    position:absolute;
} 
.twitter-tweets {
    top:77px; 
    left:0px;
    right:0px;
    position:absolute;
    color:  rgb(62,155,185);
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 

/* DRIBBLE TEXT */
.dribbble-followers {	
    top:48px; 
    left:0px;
    right:0px;
    position:absolute;
    color: grey;
    font-size: 20px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white;
} 
.dribbble-following {
    top:52px; 
    left:25px;
    right:163px;     
    position:absolute;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
}  
.dribbble-shots {
    top:52px; 
    left:162px;
    right:25px;     
    position:absolute;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    text-shadow: 0px 1px 0px white; 
} 

/* VIDEO WIDGET INHOUD */
.videoscreen {
    width:196px;
    height:100px;
    color:  #5E6873;
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 0px white;
    overflow:hidden;
    display: block;
}
#inhoud-video-top{
    width:160px;
    height:11px;
    overflow:hidden;
    padding-top:0px;
    border: solid 0px black;
}

/* DAG NACHT WIDGET */
.dag-text {
    top:90px; 
    left:28px;
    right:139px;
    position:absolute;
    color:  white;
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 0px 1px black; 
} 
.nacht-text {
    top:90px; 
    left:139px;
    right:28px;
    position:absolute;
    color:  white;
    font-size: 16px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 0px 1px black; 
} 

/*------------------------------------------
                  WIDGETS
  ------------------------------------------*/

/* ================================================  
                    JOURNAAL 24
   ================================================  */
#knop-tv{
    background-image: url('../img/tv@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-tv {background-image:url(../img/tv@2x.png);}
}

#knop-tv{background-size:218px 122px;} 

/* ================================================  
                    TEMPERATUUR
   ================================================  */
#knop-temp{
    background-image: url('../img/temp@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-temp {background-image:url(../img/temp@2x.png);}
}

#knop-temp{background-size:218px 122px;} 

/* ================================================  
                        WIND
   ================================================  */
#knop-wind{
    background-image: url('../img/wind@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-wind {background-image:url(../img/wind@2x.png);}
}

#knop-wind{background-size:218px 122px;} 

.wind-text {
    top:49px; 
    left:0px;
    right:0px;
    position:absolute;
    color:  black;
    font-size: 19px;
    font-weight:bold;
    text-align:center;
    text-shadow: none; 
} 

.wind-sub {
    background-image:url(../img/wind-arrow.png);
    background-size:6px 30px;
    background-color: none;
    width: 6px;
    height: 30px;
    top:47px; 
    left:47px;
    right:0px;     
    position:absolute;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    text-shadow:none; 
} 

.wind-gevoel {
    top:53px; 
    left:165px;
    right:16px;
    position:absolute;
    color:  black;
    font-size: 14px;
    font-weight:bold;
    text-align:center;
    text-shadow: none; 
} 

/* ================================================  
                     AANDELEN
   ================================================  */
#knop-stocks{
    background-image: url('../img/stocks@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-stocks {background-image:url(../img/stocks@2x.png);}
}

#knop-stocks{background-size:218px 122px;} 

/* ================================================  
                    DIGITAL KLOK
   ================================================  */
#knop-klok{
    background-image: url('../img/time@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-klok {background-image:url(../img/time@2x.png);}
}

#knop-klok{background-size:218px 122px;} 

/* ================================================  
                   LUCHTVOCHTIGHEID
   ================================================  */
#knop-meter{
    background-image: url('../img/meter@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-meter {background-image:url../img/meter@2x.png);}
}

#knop-meter{background-size:218px 122px;} 

/* ================================================  
                     3FM RADIO
   ================================================  */
#knop-radio{
    background-image: url('../img/radio@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-radio {background-image:url(../img/radio@2x.png);}
}

#knop-radio{background-size:218px 122px;} 

/* ================================================  
                      BBQ WEER
   ================================================  */

#knop-bbq{
    background-image: url('../img/bbq@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-bbq {background-image:url(../img/bbq@2x.png);}
}

#knop-bbq{background-size:218px 122px;} 

/* ================================================  
                      TWITTER
   ================================================  */
#knop-twitter{
    background-image: url('../img/twitter@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-twitter{background-image:url(../img/twitter@2x.png);}
}

#knop-twitter{background-size:218px 122px;} 

/* ================================================  
                      DRIBBLE
   ================================================  */
#knop-dribbble{
    background-image: url('../img/dribbble@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-dribbble{background-image:url(../img/dribbble@2x.png);}
}

#knop-dribbble{background-size:218px 122px;} 

/* ================================================  
                    WISSELKOERS
   ================================================  */
#knop-currency{
    background-image: url('../img/currency@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-currency{ 
        background-image:url(../img/currency@2x.png);
    }
}

#knop-currency{background-size:218px 122px;} 

.currency-text-1 {
    top:30px; 
    left:118px;
    right:48px;
    position:absolute;
    color:  white;
    font-size: 13px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 3px black; 
} 

.currency-text-2 {
    top:79px; 
    left:118px;
    right:48px;
    position:absolute;
    color:  white;
    font-size: 13px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 3px black; 
} 

.currency-text-3 {
    top:30px; 
    left:48px;
    right:118px;
    position:absolute;
    color:  white;
    font-size: 13px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 3px black; 
} 

.currency-text-4 {
    top:79px; 
    left:48px;
    right:118px;
    position:absolute;
    color:  white;
    font-size: 13px;
    font-weight:bold;
    text-align:center;
    text-shadow: 0px 1px 3px black; 
} 

/* METER */
progress strong {
    display: none;	
}
progress.example_r + .arrow {
    position: absolute;
    font-size: 100px;
    margin-top: -132px;
    margin-left: 101px;
    background-color:none;

    /* Dimensions */
    width: 16px;
    height: 116px;
    text-align: center;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;

    transition: transform 500ms;	
}
progress.example_r + .arrow.noTransition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
} 

/*
 * Example R: Possible Rotation
*/
/* All HTML5 progress enabled browsers */
progress.example_r {
    /* gets rid of default border in Firefox and Opera. */ 
    border: solid 0px black;
    display: inline-block;
    border-radius: 218px 218px 0 0;
    background-color: transparent;

    /* Dimensions */
    width: 218px;
    height: 116px;
    padding: 0;
}

/* Polyfill */
progress.example_r[role]:after {
    background-image: none; /* removes default background from polyfill */
}
progress.example_r { }

/* Rotation Parts */
progress.example_r[value="0"] + .arrow {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);-o-transform: rotate(270deg);-ms-transform: rotate(270deg);
}	
progress.example_r[value^="1"]:not([value="1"]):not([value="100"]) + .arrow {
    -moz-transform: rotate(288deg);
    -webkit-transform: rotate(288deg);-o-transform: rotate(288deg);-ms-transform: rotate(288deg);
}
progress.example_r[value^="2"]:not([value="2"]) + .arrow {
    -moz-transform: rotate(306deg);
    -webkit-transform: rotate(306deg);-o-transform: rotate(306deg);-ms-transform: rotate(306deg);
}
progress.example_r[value^="3"]:not([value="3"]) + .arrow {
    -moz-transform: rotate(324deg);
    -webkit-transform: rotate(324deg);-o-transform: rotate(324deg);-ms-transform: rotate(324deg);
}
progress.example_r[value^="4"]:not([value="4"]) + .arrow {
    -moz-transform: rotate(342deg);
    -webkit-transform: rotate(342deg);-o-transform: rotate(342deg);-ms-transform: rotate(342deg);
}
progress.example_r[value^="5"]:not([value="5"]) + .arrow {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-ms-transform: rotate(360deg);
}
progress.example_r[value^="6"]:not([value="6"]) + .arrow {
    -moz-transform: rotate(378deg);
    -webkit-transform: rotate(378deg);-o-transform: rotate(378deg);-ms-transform: rotate(378deg);
}
progress.example_r[value^="7"]:not([value="7"]) + .arrow {
    -moz-transform: rotate(396deg);
    -webkit-transform: rotate(396deg);-o-transform: rotate(396deg);-ms-transform: rotate(396deg);
}
progress.example_r[value^="8"]:not([value="8"]) + .arrow {
    -moz-transform: rotate(414deg);
    -webkit-transform: rotate(414deg);-o-transform: rotate(414deg);-ms-transform: rotate(414deg);
}
progress.example_r[value^="9"]:not([value="9"]) + .arrow {
    -moz-transform: rotate(432deg);
    -webkit-transform: rotate(432deg);-o-transform: rotate(432deg);-ms-transform: rotate(432deg);
}
progress.example_r[value="100"] + .arrow {
    -moz-transform: rotate(450deg);
    -webkit-transform: rotate(450deg);-o-transform: rotate(450deg);-ms-transform: rotate(450deg);
}

/*
 * Background of the progress bar value 
*/
/* Firefox */
progress.example_r::-moz-progress-bar { 
    background: transparent;	
}
/* Chrome */
progress.example_r::-webkit-progress-value {
    background: transparent;
}
/* Polyfill */
progress.example_r[aria-valuenow]:before  {
    background: transparent;
}
/* Arrow */
progress.example_r + .arrow img {
    float: none;
    border: none;
    margin: 35px 0px 0 0;
}

input {
    display: block;
    margin-top: 20px;
    position: absolute;
    z-index: 200;
}

/* SLIDING */
.slidingDiv {
    width:182px;
    height:84px;
    background-color: none;
    padding:0px;
    margin-top:0px;
    border-bottom:0px;
}
.show_hide {
    display:none;
}

/* ================================================  
                    ANALOGE CLOCK
   ================================================  */
#knop-analoog{
    background-image: url('../img/klok-analoog@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-analoog{
        background-image:url(../img/klok-analoog@2x.png);
    }
}

#knop-analoog{
    background-size:218px 122px;
}
#clock {
    position: absolute;
}

#sec, #min, #hour {
    position: absolute;
    height: 80px;
    width: 12px;
    top: 22px;
    left: 103px;
    background-size:12px 80px;
}

#sec {
    background: url(../img/sechand.png);
    background-size:12px 80px;
    /*background-color:red;*/
    z-index:3;
}

#min {
    background: url(../img/minhand.png);
    background-size:12px 80px;
    /*background-color:blue;*/
    z-index:2;
}

#hour {
    background: url(../img/hourhand.png);
    background-size:12px 80px;
    /*background-color:green;*/
    z-index:1;
}

/* ================================================  
                    iOS DOWNLOADS
   ================================================  */
#knop-downloads-ios{
    background-image: url('../img/downloads-ios@2x.png');
    background-repeat:no-repeat;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #knop-downloads-ios{background-image:url(../img/downloads-ios@2x.png);}
}

#knop-downloads-ios{background-size:218px 122px;} 

/* RESET */
p {
    text-align: center; 
    padding: 0px 0 0 0;
}